.small {
    width: 240px;
    height: 190px;
    background: rgb(253, 253, 250);
    border: 1px solid #777;
    outline: 1px solid #aaa;
    outline-offset: -10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    padding: 10px;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.5s;
}

.only {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {
    width: 100%;
}

.small:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

.large {
    width: 730px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 1px solid #000;
    outline: 2px solid #fff;
    transition: width 0.5s;
    z-index: 12;
}

#background {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
   
}