* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

body {
    background-image: url(../img/bg1.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#block-content {
    margin-top: 60px;
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: auto;
    flex-direction: column;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5), -2px 4px 6px rgba(0, 0, 0, 0.5);
}

header {
    flex: 0 0 250px;
    background: rgba(212, 64, 6,0.85);
    

}

main {
    flex: 1 1 100px;
    background: rgba(245, 240, 255, 0.7);
    display: flex;
    flex-wrap: wrap;
}

article {
    flex: 0 0 49%;
    margin: 0.5%;
    background-color: white;
    border-radius: 7px;
    border: 1px solid #777;
    box-sizing: border-box;
    padding: 10px;
}

footer {
    flex: 0 0 70px;
    background: rgba(212, 64, 6, 0.8);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5), -2px 4px 6px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

a {
    font-size: 16pt;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: arial;
}

nav li {
    list-style-type: none;
}

nav>ul>li>ul {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0px;
    height: 0px;
    overflow: hidden;
    margin-top: 200px;
    transition: all 0.5s;
    opacity: 0;
}

nav>ul>li>a:hover+ul,
nav>ul>li>a+ul:hover {
    height: auto;
    margin-top: -3px;
    padding: 10px;
    opacity: 1;
}

nav>ul>li>a::before,
nav>ul>li>a::after {
    content: "";
    width: 0%;
    display: block;
    border-top: 2px solid white;
    transition: all 0.5s;
}

nav>ul>li>a::after {
    margin-left: 100%;
}

nav>ul>li>a:hover::before {
    width: 100%;
}

nav>ul>li>a:hover::after {
    width: 100%;
    margin-left: 0;
}

nav>ul>li {
    display: inline-block;
    padding: 10px;
}

nav>ul>li>ul>li {
    position: relative;
    padding: 5px 2px;
    margin: 10px 5px;
}

.preview {
    width: 250px;
    padding: 10px;
    background-color: rgb(253, 253, 245);
    border: 1px solid #aaa;
    box-shadow: 2px 1px 4px #777;
    float: left;
    margin: 10px;
}

p {
    padding: 5px;
    margin: 10px;
    text-indent: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

p::first-letter {
    font-family: "book antiqgua";
    font-size: 1.5em;
    color: rgb(212, 64, 6);
}

h2 {
    color: rgb(212, 64, 6);
    font-family: "book antiqua";
    font-size: 24pt;
    text-shadow: 1px 1px 0px #333;
}

nav>ul>li>ul>li>a::before,
nav>ul>li>ul>li>a::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    background: rgba(255, 255, 255, 0.15);
    width: 0;
    height: 100%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transition: all 0.3s;
}

nav>ul>li>ul>li>a:hover::before,
nav>ul>li>ul>li>a:hover::after {
    width: 100%;
    transition: all 0.8s;
}

nav>ul>li>ul>li>a:hover::after {
    left: 0%;
}

nav>ul>li>ul>li>a::after {
    left: 100%;
}

.only {
    flex-basis: 99%;
}

input {
    padding: 5px 10px;
    font-size: 14pt;
    background: rgb(212, 64, 6);
    color:#fff;
    border-radius: 5px;
}
input:hover{
    background: rgb(163, 183, 210);
    color:#000;
}