<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{name}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rotator.css') }}">
    <script src="{{ url_for('static', filename='js/rotator.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/header.js') }}" defer></script>
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="/" target="_blank">
            Замки Беларуси
        </a>
                <ul>
                    {% for castle in castles %}
                    <li>
                        <a href="{{ castle[4] }}" target="_blank">{{ castle[1] }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <a href="/photos">Фотогалерея </a>
            </li>

        </ul>
    </nav>
    <div id="block-content">
        <header>
            <div id="title">Замки Беларуси</div>
            <div id="header_galery">
                {% for i in ['1', '2', '3', '4', '5', '6', '7', '8', '9'] %}
                <img src="{{ url_for('static', filename='img/header/' + i + '.jpg') }}" alt="{{i}}.jpg">
                {% endfor %}
            </div>
        </header>
        <main>
            <article class="only">
                <h2>{{castle_text[0][1]}}</h2>
                {% for i in range(length) %}
                <p>
                    castle_text[i][2]
                </p>
                {% if i == 0 %}
                <div id="rotator">
                    <div id="left">
                        <div id="arrow-left" onclick="movePhoto(-1)">
                        </div>
                    </div>
                    <div id="middle">
                        <div id="photos">
                            {% for j in range(castle_images[1])
                            <img src="{{ url_for('static', filename='img/' + castle_text[0][1] + '/' + j + 1 + '.jpg') }}" alt="{{j}}.jpg">
                            {% endfor %}
                        </div>
                        <div id="count"></div>
                    </div>
                    <div id="right">
                        <div id="arrow-right" onclick="movePhoto(1)">
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </article>
        </main>
        <footer></footer>
    </div>
</body>

</html>