<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Коссовский дворец</title>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/template.css">
    <link rel="stylesheet" href="../css/rotator.css">
    <script src="../js/rotator.js" defer></script>
    <script src="../js/header.js" defer></script>
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="../index.html" target="_blank">
            Замки Беларуси
        </a>
                <ul>
                    <li>
                        <a href="mir.html" target="_blank">Мирский замок</a>
                    </li>
                    <li>
                        <a href="nesviz.html" target="_blank">Несвижский замок</a>
                    </li>
                    <li>
                        <a href="lida.html" target="_blank">Лидский замок</a>
                    </li>
                    <li>
                        <a href="novogrudok.html" target="_blank">Новогрудский замок</a>
                    </li>
                    <li>
                        <a href="lubchanskiy.html" target="_blank">Любчанский замок</a>
                    </li>
                    <li>
                        <a href="grodno.html" target="_blank">Гродненский замок</a>
                    </li>
                    <li>
                        <a href="gomel.html" target="_blank">Гомельский дворец</a>
                    </li>
                    <li>
                        <a href="cosovo.html" target="_blank">Коссовский дворец</a>
                    </li>
                    <li>
                        <a href="ruzani.html" target="_blank">Ружанский дворец</a>
                    </li>

                    <li>
                        <a href="krev.html" target="_blank">Кревский замок</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="photos.html">Фотогалерея </a>
            </li>

        </ul>
    </nav>
    <div id="block-content">
        <header>
            <div id="title">Замки Беларуси</div>
            <div id="header_galery">
                <img src="../img/header/1.jpg" alt="1.jpg">
                <img src="../img/header/2.jpg" alt="2.jpg">
                <img src="../img/header/3.jpg" alt="3.jpg">
                <img src="../img/header/4.jpg" alt="4.jpg">
                <img src="../img/header/5.jpg" alt="5.jpg">
                <img src="../img/header/6.jpg" alt="6.jpg">
                <img src="../img/header/7.jpg" alt="7.jpg">
                <img src="../img/header/8.jpg" alt="8.jpg">
                <img src="../img/header/9.jpg" alt="9.jpg">
            </div>
        </header>
        <main>
            <article class="only">
                <h2>Коссовский замок</h2>

                <p>
                    История этого замка Беларуси начинается не в Средневековье, а чуть позже - в 1838 году, когда князь Казимир Пусловский решил отстроить роскошную резиденцию. Название великого княжеского рода и породило название строению – его стали именовать дворец Пусловских.
                </p>
                <div id="rotator">
                    <div id="left">
                        <div id="arrow-left" onclick="movePhoto(-1)">
                        </div>
                    </div>
                    <div id="middle">
                        <div id="photos">
                            <img src="../img/Коссовский/1.jpg" alt="1.jpg">
                            <img src="../img/Коссовский/2.jpg" alt="2.jpg">
                            <img src="../img/Коссовский/3.jpg" alt="3.jpg">
                            <img src="../img/Коссовский/4.jpg" alt="4.jpg">
                            <img src="../img/Коссовский/5.jpg" alt="5.jpg">
                        </div>
                        <div id="count"></div>
                    </div>
                    <div id="right">
                        <div id="arrow-right" onclick="movePhoto(1)">
                        </div>
                    </div>
                </div>

                <p>
                    Коссовский замок – это не только дворец, но также историческая усадьба и уникальный природный ландшафт, которые вместе создали дворцово-парковый ансамбль. Строился замок 10 лет на небольшом возвышении. Архитектура замка выполнена в стиле ретроготики.
                    Крепость имеет центральный корпус, который соединяется галереями с двумя одноэтажными крыльями. Башни разной высоты имеют квадратную форму и зубчатые завершения, что нехарактерно для архитектуры нашей страны. Поэтому замок выглядит
                    необычно и дарит ощущение, что вы попали в средневековую Европу.
                </p>
                <p>
                    Каждое из 132 помещений замка имело роскошный интерьер: полы с отоплением, дорогие гобелены и ковры, скульптуры и декоративные камины. Каждая зала имела своё название и предназначение. В Белом зале устраивали балы, в Розовом проводили музыкальные вечера,
                    в Парадном размещались росписи известных художников.
                </p>
                <p>
                    С 2008 года в Коссовском замке ведутся восстановительные работы, которые планируют завершить к концу этого года. Как только они закончатся, стены дворца Пусловских станут гостеприимной площадкой для проведения международных мероприятий и фестивалей. А
                    пока замок открыт для посещений. Билет стоит 3 рубля (2 рубля по льготному тарифу).
                </p>
                <p>
                    Коссовский замок располагается в 220 км от Минска в Ивацевичском районе Брестской области и работает со среды по воскресенье с 10:00 до 17:30.
                </p>
            </article>
        </main>
        <footer></footer>
    </div>
</body>

</html>