<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Гродненский замок</title>
    <link rel="stylesheet" href="../css/template.css">
    <link rel="stylesheet" href="../css/rotator.css">
    <link rel="stylesheet" href="../css/header.css">
    <script src="../js/rotator.js" defer></script>
    <script src="../js/header.js" defer></script>
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="../index.html" target="_blank">
            Замки Беларуси
        </a>
                <ul>
                    <li>
                        <a href="mir.html" target="_blank">Мирский замок</a>
                    </li>
                    <li>
                        <a href="nesviz.html" target="_blank">Несвижский замок</a>
                    </li>
                    <li>
                        <a href="lida.html" target="_blank">Лидский замок</a>
                    </li>
                    <li>
                        <a href="novogrudok.html" target="_blank">Новогрудский замок</a>
                    </li>
                    <li>
                        <a href="lubchanskiy.html" target="_blank">Любчанский замок</a>
                    </li>
                    <li>
                        <a href="grodno.html" target="_blank">Гродненский замок</a>
                    </li>
                    <li>
                        <a href="gomel.html" target="_blank">Гомельский дворец</a>
                    </li>
                    <li>
                        <a href="cosovo.html" target="_blank">Коссовский дворец</a>
                    </li>
                    <li>
                        <a href="ruzani.html" target="_blank">Ружанский дворец</a>
                    </li>

                    <li>
                        <a href="krev.html" target="_blank">Кревский замок</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="photos.html">Фотогалерея </a>
            </li>

        </ul>
    </nav>
    <div id="block-content">
        <header>
            <div id="title">Замки Беларуси</div>
            <div id="header_galery">
                <img src="../img/header/1.jpg" alt="1.jpg">
                <img src="../img/header/2.jpg" alt="2.jpg">
                <img src="../img/header/3.jpg" alt="3.jpg">
                <img src="../img/header/4.jpg" alt="4.jpg">
                <img src="../img/header/5.jpg" alt="5.jpg">
                <img src="../img/header/6.jpg" alt="6.jpg">
                <img src="../img/header/7.jpg" alt="7.jpg">
                <img src="../img/header/8.jpg" alt="8.jpg">
                <img src="../img/header/9.jpg" alt="9.jpg">
            </div>

        </header>
        <main>
            <article class="only">
                <h2>Гродненский замок</h2>

                <p>
                    Культовый памятник архитектуры, самый старейший представитель и единственный сохранившийся из королевских замков на территории Белоруссии. Построен он был из камня на месте Городенского гостинца, который сгорел в XII веке. В последующие годы в нём проживали
                    великие князья, среди которых числился Витовт, Стефан Баторий и Казимир Ягеллончик.
                </p>
                <div id="rotator">
                    <div id="left">
                        <div id="arrow-left" onclick="movePhoto(-1)">
                        </div>
                    </div>
                    <div id="middle">
                        <div id="photos">
                            <img src="../img/Гродненский замок/1.jpg" alt="1.jpg">
                            <img src="../img/Гродненский замок/2.jpg" alt="2.jpg">
                            <img src="../img/Гродненский замок/3.jpg" alt="3.jpg">
                            <img src="../img/Гродненский замок/4.jpg" alt="4.jpg">
                            <img src="../img/Гродненский замок/5.jpg" alt="5.jpg">
                            <img src="../img/Гродненский замок/6.jpg" alt="6.jpg">
                            <img src="../img/Гродненский замок/7.jpg" alt="7.jpg">
                        </div>
                        <div id="count"></div>
                    </div>
                    <div id="right">
                        <div id="arrow-right" onclick="movePhoto(1)">
                        </div>
                    </div>
                </div>

                <p>
                    Строилась крепость по необычной технологии: чтобы сэкономить расходуемый материал и укрепить стены, камни раскалывались пополам и укладывались вместе с кирпичами ровной стороной наружу. Первоначально замок возводили как резиденцию князей, но со временем
                    дворец перестраивали и использовали для разных целей. В конце XVIII века здесь было офицерское собрание, казармы, военный госпиталь и склады, в XIX же веке его использовали в качестве тюрьмы для участников польского восстания. В XX
                    веке в Гродненском замке располагался историко-археологический музей, который можно посетить и сейчас. Он работает ежедневно с 10:00 до 18:00. Стоимость взрослого билета – 2,5 рубля, детского – 1,5 рубля. Расположен он в городе Гродно
                    на улице Замковой, 22. После того, как была проведена реставрация Несвижского замка Белоруссии, было решено также вернуть былое величие и Гродненскому дворцу.
                </p>
            </article>
        </main>
        <footer></footer>
    </div>
</body>

</html>