<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <script src="{{ url_for('static', filename='js/header.js') }}" defer></script>
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="/" target="_blank">
            Замки Беларуси
        </a>
                <ul>
                    {% for castle in castles %}
                    <li>
                        <a href="{{ castle[4] }}" target="_blank">{{ castle[1] }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <a href="html/photos.html">Фотогалерея </a>
            </li>

        </ul>
    </nav>
    <div id="block-content">
        <header>
            <div id="title">Замки Беларуси</div>
            <div id="header_galery">
                {% for i in ['1', '2', '3', '4', '5', '6', '7', '8', '9'] %}
                <img src="{{ url_for('static', filename='img/header/' + i + '.jpg') }}" alt="{{i}}.jpg">
                {% endfor %}
            </div>
        </header>
        <main>
            {% for castle in castles %}
            <article>
                <h2>{{ castle[1] }}</h2>
                <img src="{{ url_for('static', filename=castle[1] + '/' + castle[2]) }}" class="preview">
                <p>
                    {{ castle[3] }}
                </p>
                <input type="button" value="Читать далее..." onclick="window.open('{{ castle[4] }}')">
            </article>
            {% endfor %}
        </main>
        <footer></footer>
    </div>
</body>

</html>