<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Любчанский дворец</title>
    <link rel="stylesheet" href="../css/template.css">
    <link rel="stylesheet" href="../css/rotator.css">
    <link rel="stylesheet" href="../css/header.css">
    <script src="../js/rotator.js" defer></script>
    <script src="../js/header.js" defer></script>
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="../index.html" target="_blank">
            Замки Беларуси
        </a>
                <ul>
                    <li>
                        <a href="mir.html" target="_blank">Мирский замок</a>
                    </li>
                    <li>
                        <a href="nesviz.html" target="_blank">Несвижский замок</a>
                    </li>
                    <li>
                        <a href="lida.html" target="_blank">Лидский замок</a>
                    </li>
                    <li>
                        <a href="novogrudok.html" target="_blank">Новогрудский замок</a>
                    </li>
                    <li>
                        <a href="lubchanskiy.html" target="_blank">Любчанский замок</a>
                    </li>
                    <li>
                        <a href="grodno.html" target="_blank">Гродненский замок</a>
                    </li>
                    <li>
                        <a href="gomel.html" target="_blank">Гомельский дворец</a>
                    </li>
                    <li>
                        <a href="cosovo.html" target="_blank">Коссовский дворец</a>
                    </li>
                    <li>
                        <a href="ruzani.html" target="_blank">Ружанский дворец</a>
                    </li>

                    <li>
                        <a href="krev.html" target="_blank">Кревский замок</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="html/photos.html">Фотогалерея </a>
            </li>

        </ul>
    </nav>
    <div id="block-content">
        <header>
            <div id="title">Замки Беларуси</div>
            <div id="header_galery">
                <img src="../img/header/1.jpg" alt="1.jpg">
                <img src="../img/header/2.jpg" alt="2.jpg">
                <img src="../img/header/3.jpg" alt="3.jpg">
                <img src="../img/header/4.jpg" alt="4.jpg">
                <img src="../img/header/5.jpg" alt="5.jpg">
                <img src="../img/header/6.jpg" alt="6.jpg">
                <img src="../img/header/7.jpg" alt="7.jpg">
                <img src="../img/header/8.jpg" alt="8.jpg">
                <img src="../img/header/9.jpg" alt="9.jpg">
            </div>

        </header>
        <main>
            <article class="only">
                <h2>Любчанский дворец</h2>

                <p>
                    Влиятельный вельможа Ян Кишка начал строительство замка в 1581 году на территории земляных валов, с трёх сторон которые защищал ров, а с четвёртой – река Нёман. Изначально возводился он из дерева, лишь одна башня у въезда была выполнена из камня. Только
                    в конце XVI века были отстроены ещё 3 каменные башни и внутренние строения.
                </p>
                <div id="rotator">
                    <div id="left">
                        <div id="arrow-left" onclick="movePhoto(-1)">
                        </div>
                    </div>
                    <div id="middle">
                        <div id="photos">
                            <img src="../img/Любчанский замок/2.jpg" alt="1.jpg">
                            <img src="../img/Любчанский замок/3.jpg" alt="2.jpg">
                            <img src="../img/Любчанский замок/4.jpg" alt="3.jpg">
                            <img src="../img/Любчанский замок/5.jpg" alt="4.jpg">

                        </div>
                        <div id="count"></div>
                    </div>
                    <div id="right">
                        <div id="arrow-right" onclick="movePhoto(1)">
                        </div>
                    </div>
                </div>

                <p>
                    Любчанский замок не единожды участвовал в боевых сражениях, пока в 1655 году его полностью не сожгли и не разрушили сторожевые башни. В XIX веке внутренние постройки были снесены, а рядом отстроен новый дворец в стиле неоготики. К середине же XX века,
                    после баталий Первой Мировой войны, от замка сохранились только 2 его башни. В последующие годы на территории Любчи проводились раскопки и археологические исследования, в ходе которых удалось обнаружить останки каменной стены, крыльца,
                    черепицы, а также образцы посуды. Находится замок в Гродненской области, Новогрудском районе в городе Любча. От Минска сюда 148 километров и несколько часов езды на автомобиле.
                </p>
            </article>
        </main>
        <footer></footer>
    </div>
</body>

</html>