<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фотогалерея</title>
    <link rel="stylesheet" href="../css/template.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/photo.css">
    <script src="../js/header.js" defer></script>
    <script src="../js/photo.js" defer></script>
</head>

<body>
    <div id="background"></div>
    <nav>
        <ul>
            <li>
                <a href="../index.html" target="_blank">
            Замки Беларуси
        </a>
                <ul>


                    <li>
                        <a href="mir.html" target="_blank">Мирский замок</a>
                    </li>
                    <li>
                        <a href="nesviz.html" target="_blank">Несвижский замок</a>
                    </li>
                    <li>
                        <a href="lida.html" target="_blank">Лидский замок</a>
                    </li>
                    <li>
                        <a href="novogrudok.html" target="_blank">Новогрудский замок</a>
                    </li>
                    <li>
                        <a href="lubchanskiy.html" target="_blank">Любчанский замок</a>
                    </li>
                    <li>
                        <a href="grodno.html" target="_blank">Гродненский замок</a>
                    </li>
                    <li>
                        <a href="gomel.html" target="_blank">Гомельский дворец</a>
                    </li>
                    <li>
                        <a href="cosovo.html" target="_blank">Коссовский дворец</a>
                    </li>
                    <li>
                        <a href="ruzani.html" target="_blank">Ружанский дворец</a>
                    </li>

                    <li>
                        <a href="krev.html" target="_blank">Кревский замок</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="photos.html">Фотогалерея </a>
            </li>
           
        </ul>
    </nav>
    <div id="block-content">
        <header>
            <div id="title">Замки Беларуси</div>
            <div id="header_galery">
                <img src="../img/header/1.jpg" alt="1.jpg">
                <img src="../img/header/2.jpg" alt="2.jpg">
                <img src="../img/header/3.jpg" alt="3.jpg">
                <img src="../img/header/4.jpg" alt="4.jpg">
                <img src="../img/header/5.jpg" alt="5.jpg">
                <img src="../img/header/6.jpg" alt="6.jpg">
                <img src="../img/header/7.jpg" alt="7.jpg">
                <img src="../img/header/8.jpg" alt="8.jpg">
                <img src="../img/header/9.jpg" alt="9.jpg">
            </div>
        </header>
        <main>
            <article class="only">
                <h2>Фотогалерея</h2>
                <img src="../img/Гомельский дворец/1.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Гомельский дворец/2.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Гомельский дворец/3.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Гомельский дворец/4.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Гомельский дворец/5.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Гомельский дворец/6.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Гродненский замок/1.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Гродненский замок/2.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Гродненский замок/3.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Гродненский замок/4.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Гродненский замок/5.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Гродненский замок/6.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Гродненский замок/7.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Коссовский/1.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Коссовский/2.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Коссовский/3.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Коссовский/4.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Коссовский/5.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Кревский/1.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Кревский/2.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Кревский/3.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Лидский/1.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Лидский/2.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Лидский/3.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Любчанский замок/2.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Любчанский замок/3.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Любчанский замок/4.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Любчанский замок/5.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Мирский/1.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Мирский/2.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Мирский/3.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Мирский/4.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Мирский/5.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Несвижский/1.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Несвижский/2.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Несвижский/3.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Несвижский/4.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Несвижский/5.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Новогрудский замок/1.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Новогрудский замок/2.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Новогрудский замок/3.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Ружанский дворец/1.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Ружанский дворец/2.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">
                <img src="../img/Ружанский дворец/3.jpg" class="small" alt="Не найдено" onclick="changePhoto(this)">



            </article>
        </main>
        <footer></footer>
    </div>
</body>

</html>